@model Travel_Project_MVC.Models.ViewModel.Home.HomeViewModel
@using Travel_Project_MVC.Models.ViewModel.Home

<head>
    <script>
        function GoToSelectedContinent(continentId)
        {
            $.ajax({
                url: '/Country/CountryListing',
                data: { continentId: continentId },
                success: function (data) {
                    $('#divPageContent').html(data);
                },
                error: function (data) { }
            });
        }
    </script>
</head>

<div class="row">
    <div class="grid_4">
        <div class="block1">
            <div class="count">1.</div>
            Select a Continent you wish to have go to and have a lot of fun.
            <br>
        </div>
    </div>
    <div class="grid_4">
        <div class="block1">
            <div class="count">2.</div>
            Select a country that you would like to visit
            <br>
        </div>
    </div>
    <div class="grid_4">
        <div class="block1">
            <div class="count">3.</div>
            Book a hotel that suits your needs and interests the most
            <br>
        </div>
    </div>
</div>

<div class="row">
    @{
        for (int i = 0; i < Model.Continents.Count; i++)
        {
            if (i % 3 == 0)
            {
                <div class="col-lg-12"></div>
            }

            <div class="grid_4">
                <div class="banner">
                    <div class="gall_block">
                        <a href="#" onclick="GoToSelectedContinent('@Model.Continents[i].ContinentId')">
                            <img src="../Content/images/Continents/@Model.Continents[i].ImageName" style="height: 400px;" alt="">
                        </a>
                        <div class="bann_capt ">
                            <div class="maxheight">
                                <div class="bann_title">@Model.Continents[i].ContinentName</div>
                                <h6 class="">Description: @Model.Continents[i].ContinentDescription</h6>
                                <a href="#" onclick="GoToSelectedContinent('@Model.Continents[i].ContinentId')">View Countries...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    }

    <div class="grid_12">
        <div class="box">
            <div class="row">
                <div class="grid_5 preffix_1">
                    <h2>Welcome</h2>
                    <p>Post about this <strong class="color1"><a href="http://blog.templatemonster.com/free-website-templates/" rel="nofollow">freebie</a></strong> will tell all you need to know about it. Need a good choice of <strong class="color1"><a href="http://www.templatemonster.com/properties/topic/food-restaurant/" rel="nofollow">themes</a></strong>? Visit TemplateMonster’s website.</p>
                    Aliquam nibh e,estas id dictum a, commodo. Praesent faucibus malesuada faucibusonec laeet metus id laoreet malesuadarem ipsum dolor sit <br>
                    <a href="#" class="btn">more</a>
                </div>
                <div class="grid_5">
                    <h2>Feel the Savor of Life</h2>
                    Dervamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a, commodo. Praesent faucibus malesuada ucibus. Donec laeet metus id laoreet malesuadarem ipsum dosit ametctetur adipiscing elit. Nullam consectetur orci sed nulla facilisis consequat. Curabitur vel lorem sit amet nulla ullamcorper fermentum. <br>
                    <a href="#" class="btn">more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-12"></div>

    <div class="grid_4">
        <h2>Testimonials</h2>
        <blockquote class="bq1 m-t-sm">
            <img src="../Content/images/zhanibek.jpg" style="width:15px;" alt="" class="img_inner fleft noresize">
            <div class="extra_wrapper">
                <div class="bq_title color1">Zhanibek Zhussupov</div>
                Student in Asia Pacific University.
            </div>
        </blockquote>
    </div>
    <div class="grid_4">
        <h2>What’s new</h2>
        <div class="block2 m-t-sm">
            <time datetime="2014-01-01">11<br>June</time>
            <div class="extra_wrapper">
                <div class="text1"><a href="#">Main news </a></div>The website is officially deployed.
            </div>
        </div>
        <div class="block2">
            <time datetime="2014-01-01">15<br>APR</time>
            <div class="extra_wrapper">
                <div class="text1"><a href="#">Secondary news </a></div>Time for assignments.
            </div>
        </div>
    </div>
    <div class="grid_4">
        <h2>Opening Hours</h2>
        <ul class="shed m-t-sm">
            <li><span>Breakfast:</span> 8AM - 11AM</li>
            <li><span>Grill Menu:</span> 12AM - 12PM</li>
            <li><span>Live Musiс:</span> 8AM - 11AM</li>
        </ul>
    </div>
</div>
